:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --fontSize: 16px;

  --fontfamily: "Karla", sans-serif;

  --fontweight1: 400;
  --fontweight2: 700;
}
body {
  background: var(--LightGray);
  margin: 4% 7%;
}
.container {
  margin: auto;
  max-width: 375px;
}
.title {
  font-family: var(--fontfamily);
  font-size: 20px;
  font-weight: var(--fontweight2);
  color: #fff;
}
.card-header {
  padding: 20px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.card-header .title {
  color: var(--Cyan);
}
.card-header .sub {
  color: var(--BrightYellow);
  font-family: var(--fontfamily);
  font-size: var(--fontSize);
  font-weight: var(--fontweight2);
  margin: 20px 0;
}
.card-header .description {
  color: #00000052;
  font-family: var(--fontfamily);
  font-size: 14px;
  font-weight: var(--fontweight2);
  line-height: 1.6;
}

.card-sign {
  padding: 20px;
  background: var(--Cyan);
}
.card-sign strong {
  font-size: 24px;
}
.card-sign small {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.609);
}
.card-sign .price {
  line-height: 1.5;
  margin: 30px 0;
  font-family: var(--fontfamily);
  font-size: 16px;
  font-weight: var(--fontweight1);
  color: #fff;
}
.btn {
  background: var(--BrightYellow);
  border: none;
  color: #fff;
  padding: 15px;
  width: 270px;
  border-radius: 5px;
  font-family: var(--fontfamily);
  font-size: var(--fontSize);
  font-weight: var(--fontweight2);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.136),
    0 6.7px 5.3px rgba(0, 0, 0, 0.159), 0 12.5px 10px rgba(0, 0, 0, 0.167),
    0 22.3px 17.9px rgba(0, 0, 0, 0.17), 0 41.8px 33.4px rgba(0, 0, 0, 0.177),
    0 100px 80px rgba(0, 0, 0, 0.2);
}

.card-why {
  padding: 20px;
  background: #4abebd;
  border-radius: 0 0 5px 5px;
}
.why {
  color: rgba(255, 255, 255, 0.726);
  margin: 20px 0;
  width: 210px;
  font-family: var(--fontfamily);
  font-size: var(--fontSize);
  font-weight: var(--fontweight1);
  line-height: 1.5;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1300px) {
  .container {
    width: 1000px;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "area1  area1"
      "area3  area4";
  }
  .title {
    font-size: 24px;
  }
  .card-header {
    padding: 50px;
    grid-area: area1;
  }
  .card-header .title {
    font-size: 40px;
  }
  .card-header .sub {
    font-size: 26px;
  }
  .card-header .description {
    font-size: 24px;
  }
  .card-sign {
    grid-area: area3;
    border-radius: 0 0 0 5px;
    padding: 50px;
  }
  .card-sign .price {
    font-size: 24px;
  }
  .card-sign .btn {
    width: 350px;
    font-size: 24px;
  }
  .card-why {
    grid-area: area4;
    border-radius: 0 0 5px 0;
    padding: 50px;
  }
  .why {
    font-size: 16px;
  }
}
